
body {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
@media (max-width: 390px) {
    body {
        font-size: 2rem;
    }
}
.container {
    margin: 0 auto;
    /* width: 1440px;
    height: 100vh;   */
   
    padding: 25px;
} 

header {
    /* width: 1440px;
    height: 159px; */
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    /* background-color: beige; */
    
}
header h1 {
    margin-right: 1rem;
}

.imatge-header {
    width: 193px;
    height: 160px;
    margin-left: 1rem;
}

@media (max-width: 390px) {
    header {
        flex-direction: column;
        align-items: center;
        
        justify-content: center; 
    }
}
@media (max-width: 390px) {
    header h1{
        font-size: 1rem;
        margin-right: 0.4rem;
    }
}
@media (max-width: 390px) {
    .imatge-header {
        width: 38.6px;
        height: 32px;
    }
}
.principal {
    display: flex;
    justify-content: space-between;
   
}

.projectes {
    display: flex;
    justify-content: space-around;
    flex-grow: 2;
    background-image: url('imatges/codi.jpg');
    background-repeat: no-repeat;
    /* padding-right: 2.8rem; */
    /* background-color: beige;  */
}

.projecte {
    
    align-content: center;
    background-color:beige; 
    opacity: 0.7;
    margin-top: 15%;
    width: 247px;
    height: 30%;
    padding-left: 1.5%;
    padding-right: 1%;
}
#projecte-final {
    padding-bottom: .7rem;
}
@media (max-width: 390px) {
    .projectes {
        background-image: none;
        flex-direction: column;
        justify-content: space-evenly;
        padding-left: 19%;
    }
}
@media (max-width: 390px ) {
    .projecte { 
        margin-bottom: -3%;
        /* width: 75%;
        height: 30%; */
        align-content: space-around;
        opacity: 1;
        font-size: 1.5rem;
    }
}

.aside {
    display:flex;
    flex-direction: column;
    min-width: 21%;
    height: 779px;
    /* background-color: beige;  */
    padding-top: 11%;
}

.aside-item {
    
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    padding: 0 4% 0 4%;
    
}
.aside-item h2 {
    cursor: pointer;
}
.aside-item a {
    text-decoration: none;
    color: black;
}
@media (max-width: 390px) {
    .aside {
        display: none;
    }
}

.footer {
    height: 15%;
    display: flex;
    justify-content: space-around;
    /* background-color: beige;  */
}
.footer-social {
    align-content: center;
    padding: 1%;
}
.footer-social img {
    margin-right: 1.5%;
}
.footer-social small {
    margin-right: 1.5%;
}
.footer a {
    text-decoration: none;
    color: black;
}
@media (max-width: 390px) {
    .footer {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        font-size: 1rem;
    }
}
@media (max-width: 390px) {
    .footer-social, .footer-social img {
        flex-direction: row;
        align-items: center;
    }
}


.react-image {
    width: 246px;
    height: 155px;
}

.javascript-image {
    width: 155;
    height: 155;
}
.node-image {
    width: 134px;
    height: 155px;
}
.imatge-projecte {
    display: flex;
    justify-content: center;
    
}
.quisoc {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    flex-grow: 2;
    /* background-color:beige;  */
    width: 85%;
    /* border-left: .5px solid black; */
}

.curriculum {
    font-weight: 800;
    width: 85%;
    margin-right: .5rem;
    margin-left: .5rem;
}
@media (max-width: 390px) {
    .curriculum {
        font-size: 1rem;
    }
}
.curriculum span {
    font-size: 1.35rem;
}

@media (max-width: 390px) {
    .curriculum span {
        font-size: 1.35rem;
        color:grey;
    }
}
.imgUser {
    margin: 34% 0 34% 0;
    width: 300px;
    height: 300px;
}
@media (max-width: 390px) {
    .imgUser {
        width: 150px;
        height: 150px;
    }
}
/* .forms-estils label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
} */

/* .forms-estils input {
    display: flex;
    flex-direction: row;
} 

.items-form-nom {
    display: flex;
    padding-top: .9rem;
    padding-bottom: .9rem;
    align-items: flex-start;
    justify-content: space-between;
}

.items-form-cognom {
    display:flex;
    padding-top: .9rem;
    padding-bottom: .9rem;
    padding-right: 2.5rem;
    align-items: flex-start;
    justify-content: space-between;
}

.items-form-correu {
    display: flex;
    padding-top: .9rem;
    padding-bottom: .9rem;
    padding-right: 1.6rem;
    align-items: flex-start;
    justify-content: space-between;
}

textarea{
	width:40rem;
	height:20rem;
	border:1px solid black;
	border-radius:8px;
	background-color:antiquewhite;			
	margin:8px 0;
	/*resize: vertical | horizontal | none | both*/
	/*resize:none;
	/* display:block; */
    
/*}]*
